#root{ width: 1024px; margin: auto; }

/* HEADER */

header{  display: flex; background-color: #e7fad7; flex-direction: column; padding: 15px; }

/* TOP */
header h1{ width: 100px; margin: auto; }
header h1 a, header h1 a img{ width: 100%; height: 100%; display: block; }

/* MIDDLE */

header div.mid-header{ display: flex; justify-content: space-between; background-color: #5612964f; }

header div.mid-header div.menu{ background-color: brown; padding: 5px 12px; width: 50px; box-sizing: border-box; position: relative; }
    header div.mid-header div.menu > a{ display: flex; flex-direction: column; justify-content: space-around; width: 100%; height: 30px; margin: auto;}
    header div.mid-header div.menu > a::before{ transform: rotate(0deg); }
    header div.mid-header div.menu > a::after{ transform: rotate(0deg); }
    header div.mid-header div.menu > a::before, header div.mid-header div.menu > a::after{ 
        content: ''; display: inline-block; font-size:0; background-color: #fff; width: 100%; height: 3px; padding: 0; 
        transition: transform .2s; 
    }
    header div.mid-header div.menu > a span{ 
        font-size:0; background-color: #fff; width: 100%; height: 3px;  display: inline-block; opacity: 1; margin: 0 auto; padding: 0; 
        transition: width .2s; 
    }
    header div.mid-header div.menu ul{ 
        display: none; position: absolute; top:40px; left:0; background-color: #f0f0f0; padding: 20px;
    }

    /* ACTIVE */
    header div.mid-header div.menu:hover > a::before, 
    header div.mid-header div.menu.active > a::before{ transform: rotate(-45deg); margin: 0 0 0 0;  }
    header div.mid-header div.menu:hover > a::after, 
    header div.mid-header div.menu.active > a::after{ transform: rotate(45deg); margin: -30px 0 0 0; }
    header div.mid-header div.menu:hover > a span, header div.mid-header div.menu.active > a span{ opacity: 0; width: 1%; margin: -30px auto 0; transition: opacity .1s, width .5s;  }
    header div.mid-header div.menu:hover ul{ display: block;}

/* BOTTOM */

header div.bottom-header ul{ display: flex; justify-content: space-between; }
