.App {
  text-align: center;
  background-color: #eeeeee57;
}
body{
  margin: 0; padding: 0;
}
body, body *{ font-family: Helvetica, Arial, sans-serif; }
ul, ul li{ list-style-type: none; list-style: none; margin: 0; padding: 0px; }
h1, h2, h3, h4, h5, h6{ margin: 0; padding: 0;}

section.list-itens{
  background-color: rgb(255, 253, 253); box-shadow: 0 0 20px #d6d6d6; padding: 10px 0 50px;
  max-width: 1024px;
  margin: 0 auto;
}
  section.list-itens ul{ list-style-type: none; list-style: none; background-color: #e7e7e7; padding: 0; margin: 0; }
    section.list-itens ul li{ list-style-type: none; list-style: none; margin: 0; padding: 10px; display: inline-block; width: calc(16% - 20px); text-align: left; }

    section.list-itens ul.table-header li{ font-weight: bold; font-size: 14px; text-align: left; border-bottom: 1px solid #ccc; }
    section.list-itens ul:not(.table-header) li{ font-size: 12px; text-align: left; overflow: hidden; }
    section.list-itens ul:not(.table-header) li:last-child{ text-align: left; }
    
    section.list-itens .container{ overflow:auto; height: 350px; margin: 0 3%; padding-right: 3%;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
